@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;1,500&display=swap");

.App {
  text-align: center;
}

.menu {
  height: 50px;
  width: 100%;  
}
.logo {
  font-size: 1.2rem;
  font-weight: 1000;
  color: #9f8e7d;
  font-family: "Raleway";
}
