body {
  font-family: "Raleway";
  color: #222;
  height: 100vh;
}

.library-hero {
  margin-top: 5%;
  width: 100%;
  padding-bottom: 1rem;
  font-weight: bolder;
}

/* .container {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
} */

.library-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem;
}

.book-row-parent {  
  margin-top: 1rem;
}

h1 {
  font-family: "Raleway";
  font-weight: 400;
}