.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-body {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.title {
 font-family: Raleway; 
 font-weight: 800;
}